<header class="site-header">
  <div class="brand">
    <img src="/assets/images/karguvel.jpg" alt="Groom" class="logo" />
    <div class="titles">
      <h1>Karguvel ♥ Anu</h1>
      <!-- <p>23 November 2025 — Tiruchendur • 9:30 AM</p> -->
    </div>
  </div>
  <nav class="main-nav">
    <a routerLink="/">Home</a>
    <a routerLink="/schedule">Schedule</a>
    <a routerLink="/family">Family</a>
    <a routerLink="/fun">Fun</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/couple-story">Story</a>
    <a routerLink="/carousel">Carousel</a>
    <a routerLink="/directions">Directions</a>
    <a routerLink="/reception">Reception</a>
    <a routerLink="/kids">Kids</a>
    <a routerLink="/countdown">Countdown</a>
    <a routerLink="/rsvp">RSVP</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/location">Map</a>
  </nav>
</header>
